.members-list-container {
    display: flex;
    flex-direction: column;
}

.minor-tittle {
    display: flex;
    justify-content: center;
}

.members-list-container table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
}

.members-list-container th,
.members-list-container td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.members-list-container th {
    background-color: #f2f2f2;
}